In [3]:
import pandas as pd

## pandas.DataFrame.idxmax

```py
DataFrame.idxmax(axis=0, skipna=True, numeric_only=False)
```

In [4]:
df = pd.DataFrame(
    {
        "consumption": [10.51, 103.11, 55.48],
        'co2_emissions': [37.2, 19.66, 1712]
    },
    index=['Pork', 'Wheat Products', 'Beef']
)

In [5]:
df

                consumption  co2_emissions
Pork                  10.51          37.20
Wheat Products       103.11          19.66
Beef                  55.48        1712.00

In [6]:
# By default, it returns the index for the maximum value in each column.

df.idxmax()

consumption      Wheat Products
co2_emissions              Beef
dtype: object

In [7]:
# To return the index for the maximum value in each row, use `axis='columns'`.

In [8]:
df.idxmax(axis='columns')

Pork              co2_emissions
Wheat Products      consumption
Beef              co2_emissions
dtype: object