In [6]:
import pandas as pd

### What kind of data does pandas Handle

I want to store passenger data of the Titanic. For a number of passengers, I known the name (Character), age (integers) and sex (male/female) data.

In [19]:
df = pd.DataFrame(
    {
        "Name": [
            "Brand, Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnell, Miss. Elizabeth",
        ],
        "Age": [22, 25, 58],
        "Sex": ["male", "male", "female"],
    }    
)

In [11]:
df

                       Name  Age     Sex
0    Brand, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   25    male
2  Bonnell, Miss. Elizabeth   58  female

To manually store data in a table, create a `DataFrame`. When using a Python dictionary of lists, the dictionary keys will be used as column headers and the values in each list as columns of the `DataFrame`.

A `DataFrame` is a 2-dimensional data structure that can store data of different types (including characters, integers, floating points values, categorial data and more) in columns. It is similar to a spreadsheet, a SQL table or the `data.frame` in R.

- A table has columns, each of them with a column label. The column labels are respectively `Name`, `Age`, and `Sex`.
- The column `Name` consists of textual data with each value a string, the column `Age` are numbers and the column `Sex` is textual data.

Each column in a  `DataFrame` is a `Series`.


----------

I'm just interested in working with the data in the column `Age`.

In [12]:
df['Age']

0    22
1    25
2    58
Name: Age, dtype: int64

When selecting a single column of a pandas, `DataFrame`, the result is a pandas `Series`. To select the column, use the column label in between square brackets `[]`.

You can create a `Series` from scratch as well:

In [14]:
ages = pd.Series([22, 35, 58], name="Age")
ages

0    22
1    35
2    58
Name: Age, dtype: int64

A pandas `Series` has no columns labels, as it is a single column of a `DataFrame`. A Series does have row labels.

In [15]:
# Maximum Age of the passengers
# We can do this on the 
df["Age"].max()

58

In [17]:
# Or to the `Series`
ages.max()

58

Interested in some baisc statistics of the numerical data of my data table.

In [20]:
df.describe()

             Age
count   3.000000
mean   35.000000
std    19.974984
min    22.000000
25%    23.500000
50%    25.000000
75%    41.500000
max    58.000000

The `describe()` method provides a quick overview of the numerical data in a `DataFrame`. As the `Name` and `Sex` columns are textual data, these are by default not taken into account by the `describe()` method.