In [21]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [22]:
import random
import datetime

In [23]:
marks = {
    "physics": [random.randint(0, 100) for _ in range(100)],
    "math": [random.randint(10, 100) for _ in range(100)],
    "english": [random.randint(30, 100) for _ in range(100)],
    "chemistry": [random.randint(15, 100) for _ in range(100)],
    "biology": [random.randint(12, 100) for _ in range(100)]
}

In [24]:
marks_df = pd.DataFrame(marks)

In [25]:
marks_df

    physics  math  english  chemistry  biology
0        23    72       90         82       27
1         8    62       59         28       76
2        37    66       79         76       53
3        96    33       60         73       16
4        90    18       61         82       64
..      ...   ...      ...        ...      ...
95       15    87       33         42       33
96       26    54       42         56       61
97       63    80       57         84       97
98       77    17       76         70       32
99       48    35       94         77       92

[100 rows x 5 columns]

In [26]:
print((sum([*marks_df.iloc[1, :]])/500)*100)

46.6

In [27]:
def calculate_percentage(row):
    return (sum(row)/500)*100

In [28]:
percentage = marks_df.apply(calculate_percentage, axis=1)

In [29]:
marks_df['percentage'] = percentage

In [30]:
marks_df['physics'] = marks_df['physics'].astype(float)
marks_df['chemistry'] = marks_df['chemistry'].astype(float)
marks_df['math'] = marks_df['math'].astype(float)
marks_df['biology'] = marks_df['biology'].astype(float)
marks_df['english'] = marks_df['english'].astype(float)

In [31]:
marks_df.iloc[:5, :]

   physics  math  english  chemistry  biology  percentage
0     23.0  72.0     90.0       82.0     27.0        58.8
1      8.0  62.0     59.0       28.0     76.0        46.6
2     37.0  66.0     79.0       76.0     53.0        62.2
3     96.0  33.0     60.0       73.0     16.0        55.6
4     90.0  18.0     61.0       82.0     64.0        63.0

In [32]:
features = ['physics', 'chemistry', 'math', 'english', 'biology']

In [33]:
def check_best_score_subject(row):
    high_feature, high_mark = None, None
    for f in features:
        if high_feature is None and high_mark is None:
            high_feature = f
            high_mark = row[f]
        if row[f] > high_mark:
            high_mark = row[f]
            high_feature = f
    return high_feature

Best score column for each student

In [34]:
marks_df["best score subject"] = marks_df.apply(check_best_score_subject, axis=1)

In [35]:
marks_df.iloc[:5, :]

   physics  math  english  chemistry  biology  percentage best score subject
0     23.0  72.0     90.0       82.0     27.0        58.8            english
1      8.0  62.0     59.0       28.0     76.0        46.6            biology
2     37.0  66.0     79.0       76.0     53.0        62.2            english
3     96.0  33.0     60.0       73.0     16.0        55.6            physics
4     90.0  18.0     61.0       82.0     64.0        63.0            physics

Checking minimum and maximum marks in each subject

In [36]:
marks_df['physics'].min(), marks_df['physics'].max()

(0.0, 100.0)

In [37]:
marks_df['math'].min(), marks_df['math'].max()

(10.0, 100.0)

In [38]:
marks_df['chemistry'].min(), marks_df['chemistry'].max()

(15.0, 99.0)

In [39]:
marks_df['biology'].min(), marks_df['biology'].max()

(12.0, 99.0)

In [40]:
marks_df['english'].min(), marks_df['english'].min()

(30.0, 30.0)