In [96]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
import pandas as pd

In [97]:
import aoai

In [98]:
dataset = aoai.Dataset()

In [99]:

houses = dataset.get(['clean', 'bengaluru'])

In [100]:
houses

['/home/nitish/Documents/paradox/github/ArtOfAI/dataset/clean/bengaluru_house_prices.csv',
 '/home/nitish/Documents/paradox/github/ArtOfAI/dataset/clean/bengaluru_house_prices.csv',
 '/home/nitish/Documents/paradox/github/ArtOfAI/dataset/clean/bengaluru_house_prices.csv',
 '/home/nitish/Documents/paradox/github/ArtOfAI/dataset/clean/bengaluru_house_prices.csv',
 '/home/nitish/Documents/paradox/github/ArtOfAI/dataset/clean/bengaluru_house_prices.csv']

In [101]:
houses = houses[0]

In [102]:
df = pd.read_csv(houses)

In [103]:
df.head()

   Unnamed: 0                  location       size total_sqft  bath   price
0           0  Electronic City Phase II      2 BHK       1056   2.0   39.07
1           1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2           2               Uttarahalli      3 BHK       1440   2.0   62.00
3           3        Lingadheeranahalli      3 BHK       1521   3.0   95.00
4           4                  Kothanur      2 BHK       1200   2.0   51.00

Drop the `Unnamed` column, it will container `Unnamed`

In [140]:
df2 = df.drop(df.columns[df.columns.str.contains("Unnamed")], axis=1, inplace=False)

Rename `size` -> `bhk`

In [117]:
df2 = df2.rename(columns={"size": "bhk"}, inplace=False)

In [118]:
df2.head()

                   location        bhk total_sqft  bath   price
0  Electronic City Phase II      2 BHK       1056   2.0   39.07
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2               Uttarahalli      3 BHK       1440   2.0   62.00
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                  Kothanur      2 BHK       1200   2.0   51.00

remove `BHK` or `Bedroom` from column `bhk`

In [119]:
def remove_bhk(row):
    row['bhk'] = row['bhk'].split(" ")[0]
    return row

In [120]:
df2 = df2.apply(remove_bhk, axis=1)

In [121]:
df2.head()

                   location bhk total_sqft  bath   price
0  Electronic City Phase II   2       1056   2.0   39.07
1          Chikka Tirupathi   4       2600   5.0  120.00
2               Uttarahalli   3       1440   2.0   62.00
3        Lingadheeranahalli   3       1521   3.0   95.00
4                  Kothanur   2       1200   2.0   51.00

Converting `bhk` value to `float` type, and `total_sqrt` to `float` type.

In [129]:
df2['bhk'] = df2['bhk'].astype(float)

Checking the the type of `total_sqft` value, and convert values to `float`

In [179]:
def convert_total_sqft_to_float(row):
    if row["total_sqft"].isdigit():
        return row
    print(f"Total Sqft: {row['total_sqft']}")
    left, right = row['total_sqft'].split("-")
    # print(left, right)
    left, right = left.strip(), right.strip()
    avg = (float(left) + float(right)) / 2
    df['total_sqft'] = avg
    return row
    # return row

In [180]:
df2.apply(convert_total_sqft_to_float, axis=1)

Total Sqft: 2100 - 2850
Total Sqft: 1330.74

ValueError: not enough values to unpack (expected 2, got 1)

In [135]:
df2[df.loc[:, "total_sqft"].str.isdigit()]

                       location  bhk total_sqft  bath   price
0      Electronic City Phase II  2.0       1056   2.0   39.07
1              Chikka Tirupathi  4.0       2600   5.0  120.00
2                   Uttarahalli  3.0       1440   2.0   62.00
3            Lingadheeranahalli  3.0       1521   3.0   95.00
4                      Kothanur  2.0       1200   2.0   51.00
...                         ...  ...        ...   ...     ...
13241                Whitefield  5.0       3453   4.0  231.00
13242             Richards Town  4.0       3600   5.0  400.00
13243     Raja Rajeshwari Nagar  2.0       1141   2.0   60.00
13244           Padmanabhanagar  4.0       4689   4.0  488.00
13245              Doddathoguru  1.0        550   1.0   17.00

[12969 rows x 5 columns]

drop `location` columns

In [126]:
df3 = df2.drop('location', axis=1, inplace=False)

In [127]:
df3.head()

   bhk total_sqft  bath   price
0  2.0       1056   2.0   39.07
1  4.0       2600   5.0  120.00
2  3.0       1440   2.0   62.00
3  3.0       1521   3.0   95.00
4  2.0       1200   2.0   51.00

In [ ]:
forest_model = RandomForestRegressor(random_state=1)

In [ ]:
forest_model.fit