In [1]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
import pandas as pd

In [2]:
import aoai

In [3]:
dataset = aoai.Dataset()

In [4]:

houses = dataset.get(['clean', 'bengaluru'])

In [5]:
houses

['C:\\Users\\91930\\Documents\\GITHUB\\ArtOfAI\\dataset\\clean\\bengaluru_house_prices.csv']

In [6]:
houses = houses[0]

In [7]:
df = pd.read_csv(houses)

In [8]:
df.head()

   Unnamed: 0                  location       size total_sqft  bath   price
0           0  Electronic City Phase II      2 BHK       1056   2.0   39.07
1           1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2           2               Uttarahalli      3 BHK       1440   2.0   62.00
3           3        Lingadheeranahalli      3 BHK       1521   3.0   95.00
4           4                  Kothanur      2 BHK       1200   2.0   51.00

Drop the `Unnamed` column, it will container `Unnamed`

In [70]:
df2 = df.drop(df.columns[df.columns.str.contains("Unnamed")], axis=1, inplace=False)

Rename column `size` -> `bhk`

In [71]:
df2 = df2.rename(columns={"size": "bhk"}, inplace=False)

In [72]:
df2.head(3)

                   location        bhk  total_sqft  bath   price
0  Electronic City Phase II      2 BHK      2475.0   2.0   39.07
1          Chikka Tirupathi  4 Bedroom      2475.0   5.0  120.00
2               Uttarahalli      3 BHK      2475.0   2.0   62.00

Remove `BHK` or `Bedroom` from column `bhk`

Ex: current `BHK 2` or `Bedroom 2`, removing *BHK* and *Bedroom* form values.

In [73]:
def remove_bhk(row):
    row['bhk'] = row['bhk'].split(" ")[0]
    return row

In [74]:
df2 = df2.apply(remove_bhk, axis=1)

In [102]:
df2

                       location  bhk  total_sqft  bath   price
0      Electronic City Phase II  2.0      2475.0   2.0   39.07
1              Chikka Tirupathi  4.0      2475.0   5.0  120.00
2                   Uttarahalli  3.0      2475.0   2.0   62.00
3            Lingadheeranahalli  3.0      2475.0   3.0   95.00
4                      Kothanur  2.0      2475.0   2.0   51.00
...                         ...  ...         ...   ...     ...
13241                Whitefield  5.0      2475.0   4.0  231.00
13242             Richards Town  4.0      2475.0   5.0  400.00
13243     Raja Rajeshwari Nagar  2.0      2475.0   2.0   60.00
13244           Padmanabhanagar  4.0      2475.0   4.0  488.00
13245              Doddathoguru  1.0      2475.0   1.0   17.00

[13246 rows x 5 columns]

Converting `bhk` value to `float` type.

In [76]:
df2['bhk'] = df2['bhk'].astype(float)

Converting `bath` values to float

In [103]:
df2['bath'] = df2['bath'].astype(float)

Checking the the type of `total_sqft` value, and convert values to `float`

In [77]:
df2 = df2[~pd.to_numeric(df2['total_sqft'], errors='coerce').isnull()]

In [78]:
df2['total_sqft'] = df2['total_sqft'].astype(float)

In [98]:
# df2[df.loc[:, "total_sqft"].str.isdigit()]
df2.iloc[3, :]

location      Lingadheeranahalli
bhk                          3.0
total_sqft                2475.0
bath                         3.0
price                       95.0
Name: 3, dtype: object

In [133]:
df3 = df2.drop('location', axis=1, inplace=False)

In [134]:
df3.head()

   bhk  total_sqft  bath   price
0  2.0      2475.0   2.0   39.07
1  4.0      2475.0   5.0  120.00
2  3.0      2475.0   2.0   62.00
3  3.0      2475.0   3.0   95.00
4  2.0      2475.0   2.0   51.00

### Selecting the require features

In [136]:
y = df3.drop('price', axis=1, inplace=False)
x = df3

In [137]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=.2, random_state=1000)

### Preprocessing

In [ ]:
###

### Training

In [138]:
forest_model = RandomForestRegressor(random_state=1)

In [141]:
model = forest_model.fit(x_test, y_test)

In [143]:
predict = model.predict(x_train)

In [144]:
loss = mean_absolute_error(y_test, predict)

ValueError: Found input variables with inconsistent numbers of samples: [2650, 10596]